:root {
    --title-text-color: #2E2F42;
    --primary-text-color: #434455;
    --secondary-text-color: #4D5AE5;
    --third-text-color: #E7E9FC;
    --accent-color: #404BBF;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F4F4FD;
    --card-set-gap: 24px;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
    /* outline: 1px solid tomato; */
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    /* outline: 1px solid tomato; */
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
    color: var(--title-text-color);
    background-color: var(--primary-bg-color);
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* ==================== COMPONENTS ==================== */

.section-title {
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    color: var(--title-text-color);
}

.text-title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
}

.text {
    color: var(--primary-text-color);
}

/* ==================== /COMPONENTS ==================== */

/* ==================== HEADER ==================== */

.page-header {
    max-width: 1440px;
    margin: 0 auto;
    border-bottom: 1px solid var(--third-text-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 40px;
}

.page-logo {
    padding-top: var(--card-set-gap);
    padding-bottom: var(--card-set-gap);

    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.second-word-logo {
    color: var(--title-text-color);
}

.menu-link.current {
    color: var(--accent-color)
}

.menu-link {
    padding-top: var(--card-set-gap);
    padding-bottom: var(--card-set-gap);

    font-weight: 500;
    color: var(--title-text-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.contacts-email,
.contacts-number {
    padding-top: var(--card-set-gap);
    padding-bottom: var(--card-set-gap);

    font-style: normal;
    color: var(--primary-text-color);
}

.contacts-email:hover,
.contacts-email:focus {
    color: var(--accent-color);
}

.contacts-number:hover,
.contacts-number:focus {
    color: var(--accent-color);
}

/* ==================== /HEADER ==================== */

/* ==================== HERO ==================== */

.hero {
    max-width: 1440px;
    min-height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 188px;
    padding-bottom: 188px;

    text-align: center;
}

.main-title {
    display: block;
    margin-bottom: 48px;
    max-width: 494px;
    margin-left: auto;
    margin-right: auto;

    font-size: 56px;
    line-height: 1.1;
    color: var(--primary-bg-color);
}

.modal-btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: inline-block;
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
    border: 1px solid transparent;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-bg-color);
    background-color: var(--secondary-text-color);
    cursor: pointer;

}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--accent-color);
}

/* ==================== /HERO ==================== */

/* ==================== Features ==================== */

.features {
    max-width: 1440px;
    margin: 0 auto;
}

.features-list {
    display: flex;
    gap: var(--card-set-gap);
}

.features-list-item {
    flex-basis: calc((100% - 3 * var(--card-set-gap)) / 4);
}

.features-icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    background: var(--secondary-bg-color);
    border-radius: 4px;
}

/* ==================== /Features ==================== */

/* ==================== About ==================== */

.about.section {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 0;
}

.about-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-set-gap);
}

.about-item {
    flex-basis: calc((100% - 2 * var(--card-set-gap)) / 3);
}

/* ==================== /About ==================== */

/* ==================== Employees ==================== */

.employees {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 110px;
    background: var(--secondary-bg-color);
}

.employees-list {
    display: flex;
    gap: var(--card-set-gap);
}

.employees-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 3 * var(--card-set-gap)) / 4);
    text-align: center;
}

.employees-card {
    padding: 32px 16px;
    background-color: var(--primary-bg-color);
    border-radius: 0px 0px 4px 4px;
}

.employees-text {
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: var(--card-set-gap);
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-text-color);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
}

.social-list-icon {
    fill: var(--secondary-bg-color);
}

/* ==================== /Employees ==================== */

/* ==================== CUSTOMERS ==================== */

.customers {
    padding-top: 130px;
    max-width: 1440px;
    margin: 0 auto;
}

.customers-list {
    display: flex;
    justify-content: center;
    gap: var(--card-set-gap);
}

.customers-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
}

.customers-list-link:hover,
.customers-list-link:focus {
    border-color: var(--accent-color);
}

.customers-list-link:is(:hover, :focus) .customers-list-icon {
    fill: var(--accent-color);
}

.customers-list-icon {
    fill: #8E8F99;
}

/* ==================== /CUSTOMERS ==================== */

/* ==================== FOOTER ==================== */


.page-footer {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--title-text-color);
}

.container-footer {
    display: flex;
}

.footer-logo {
    margin-bottom: 16px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.second-word-logo-footer {
    color: var(--secondary-bg-color);
}

.footer-text {
    max-width: 264px;
    color: var(--third-text-color);
}

.social-footer {
    margin-left: 120px;
}

.social-footer-title {
    font-weight: 500;
    color: var(--primary-bg-color);
    margin-bottom: 16px
}

.social-list-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.social-footer-link:hover,
.social-footer-link:focus {
    background-color: #31D0AA;
}

.social-footer-icon {
    fill: var(--secondary-bg-color);
}

/* ==================== /FOOTER ==================== */



/* ==================== PORTFOLIO ==================== */

.portfolio {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--card-set-gap);
    margin-bottom: 72px;
}

.filter-btn {
    padding: 12px 24px;
    border: 1px solid var(--third-text-color);
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: calc(var(--card-set-gap) * 2);
    column-gap: var(--card-set-gap);
}

.works-item {
    flex-basis: calc((100% - 2 * var(--card-set-gap)) / 3);
}

.works-item-link {
    display: block;
}

.works-item-link:hover,
.works-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.works-card {
    padding: 32px 16px;
    border: 1px solid var(--third-text-color);
    border-top: none;
}

/* ==================== /PORTFOLIO ==================== */